<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {{>navbar}}
    <h1>WELCOME TO LOGIN PAGE</h1>
    <form action="/login" method="POST">
        Email : <input type="email" placeholder="EMAIL" name="em">
        Password : <input type="password" placeholder="PASSWORD" name="pass">
        <input type="submit" value="SUBMIT">
    </form>
</body>
</html>